In [2]:
person = {
    "first": "Jef",
    "last": "Jon",
    "email": "jefjon@com.com"
}

In [3]:
people = {
    "first": ["Jef"],
    "last": ["Jon"],
    "email": ["jefjon@com.com"]
}

In [4]:
people = {
    "first": ["Jef", "Jon", "Car"],
    "last": ["Jon", "Car", "Jef"],
    "email": ["jef@com.com", "jon@com.com", "car@com.com"]
}

In [5]:
people["email"]

['jef@com.com', 'jon@com.com', 'car@com.com']

In [6]:
person["first"]

'Jef'

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(people)

In [9]:
df

  first last        email
0   Jef  Jon  jef@com.com
1   Jon  Car  jon@com.com
2   Car  Jef  car@com.com

In [10]:
df['email']

0    jef@com.com
1    jon@com.com
2    car@com.com
Name: email, dtype: object

In [11]:
type(df['email'])

pandas.core.series.Series

In [12]:
df.email

0    jef@com.com
1    jon@com.com
2    car@com.com
Name: email, dtype: object

In [13]:
df.count

<bound method DataFrame.count of   first last        email
0   Jef  Jon  jef@com.com
1   Jon  Car  jon@com.com
2   Car  Jef  car@com.com>

In [14]:
df[['last', 'email']]

  last        email
0  Jon  jef@com.com
1  Car  jon@com.com
2  Jef  car@com.com

In [15]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
df.iloc[[0]]

  first last        email
0   Jef  Jon  jef@com.com

In [17]:
df.iloc[[0, 1]]

  first last        email
0   Jef  Jon  jef@com.com
1   Jon  Car  jon@com.com

In [18]:
df.loc[[0, 1], 'email']

0    jef@com.com
1    jon@com.com
Name: email, dtype: object

In [19]:
df.loc[[0, 1], ['email', 'last']]

         email last
0  jef@com.com  Jon
1  jon@com.com  Car