In [200]:
person = {
    "first": "Jef",
    "last": "Jon",
    "email": "jefjon@com.com"
}

In [201]:
people = {
    "first": ["Jef"],
    "last": ["Jon"],
    "email": ["jefjon@com.com"]
}

In [202]:
people = {
    "first": ["Jef", "Jon", "Car"],
    "last": ["Jon", "Car", "Jef"],
    "email": ["jef@com.com", "jon@com.com", "car@com.com"]
}

In [203]:
people["email"]

['jef@com.com', 'jon@com.com', 'car@com.com']

In [204]:
person["first"]

'Jef'

In [205]:
import pandas as pd

In [206]:
df = pd.DataFrame(people)

In [207]:
df

  first last        email
0   Jef  Jon  jef@com.com
1   Jon  Car  jon@com.com
2   Car  Jef  car@com.com

In [208]:
df['email']

0    jef@com.com
1    jon@com.com
2    car@com.com
Name: email, dtype: object

In [209]:
type(df['email'])

pandas.core.series.Series

In [210]:
df.email

0    jef@com.com
1    jon@com.com
2    car@com.com
Name: email, dtype: object

In [211]:
df.count

<bound method DataFrame.count of   first last        email
0   Jef  Jon  jef@com.com
1   Jon  Car  jon@com.com
2   Car  Jef  car@com.com>

In [212]:
df[['last', 'email']]

  last        email
0  Jon  jef@com.com
1  Car  jon@com.com
2  Jef  car@com.com

In [213]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [214]:
df.iloc[[0]]

  first last        email
0   Jef  Jon  jef@com.com

In [215]:
df.iloc[[0, 1]]

  first last        email
0   Jef  Jon  jef@com.com
1   Jon  Car  jon@com.com

In [216]:
df.loc[[0, 1], 'email']

0    jef@com.com
1    jon@com.com
Name: email, dtype: object

In [217]:
df.loc[[0, 1], ['email', 'last']]

         email last
0  jef@com.com  Jon
1  jon@com.com  Car

In [218]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [219]:
df.set_index('email', inplace=True)

In [220]:
df

            first last
email
jef@com.com   Jef  Jon
jon@com.com   Jon  Car
car@com.com   Car  Jef

In [221]:
df.index

Index(['jef@com.com', 'jon@com.com', 'car@com.com'], dtype='object', name='email')

In [222]:
df.iloc[0]

first    Jef
last     Jon
Name: jef@com.com, dtype: object

In [223]:
df.reset_index(inplace=True)

In [224]:
df

         email first last
0  jef@com.com   Jef  Jon
1  jon@com.com   Jon  Car
2  car@com.com   Car  Jef

In [225]:
filt = (df['last'] == 'Car')

In [226]:
df[filt]

         email first last
1  jon@com.com   Jon  Car

In [227]:
df = pd.DataFrame(people)

In [228]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [229]:
df.columns = ['first_name', 'last_name', 'email']

In [230]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [231]:
df.columns = [up.upper() for up in df.columns]
df

  FIRST_NAME LAST_NAME        EMAIL
0        Jef       Jon  jef@com.com
1        Jon       Car  jon@com.com
2        Car       Jef  car@com.com

In [232]:
df.columns = df.columns.str.replace(' ', '-')
df

  FIRST_NAME LAST_NAME        EMAIL
0        Jef       Jon  jef@com.com
1        Jon       Car  jon@com.com
2        Car       Jef  car@com.com

In [233]:
df.columns = [up.lower() for up in df.columns]
df

  first_name last_name        email
0        Jef       Jon  jef@com.com
1        Jon       Car  jon@com.com
2        Car       Jef  car@com.com

In [234]:
df.rename(columns={'first-name':'firstname', 'last-name':'lastname'})#,inplace=True

  first_name last_name        email
0        Jef       Jon  jef@com.com
1        Jon       Car  jon@com.com
2        Car       Jef  car@com.com

In [235]:
df.loc[2] = ['Jef', 'Car', 'jefcar@com.com']
df

  first_name last_name           email
0        Jef       Jon     jef@com.com
1        Jon       Car     jon@com.com
2        Jef       Car  jefcar@com.com

In [236]:
df.loc[2, ['last_name', 'email']] = ['Mel', 'jefmel@com.com']
df

  first_name last_name           email
0        Jef       Jon     jef@com.com
1        Jon       Car     jon@com.com
2        Jef       Mel  jefmel@com.com

In [237]:
df.loc[2, 'last_name'] = 'Car'
df

  first_name last_name           email
0        Jef       Jon     jef@com.com
1        Jon       Car     jon@com.com
2        Jef       Car  jefmel@com.com

In [238]:
df.at[2, 'last_name'] = 'Mel'
df

  first_name last_name           email
0        Jef       Jon     jef@com.com
1        Jon       Car     jon@com.com
2        Jef       Mel  jefmel@com.com

In [239]:
df['email'].str.lower()

0       jef@com.com
1       jon@com.com
2    jefmel@com.com
Name: email, dtype: object

In [240]:
df['email'] = df['email'].str.lower()
df

  first_name last_name           email
0        Jef       Jon     jef@com.com
1        Jon       Car     jon@com.com
2        Jef       Mel  jefmel@com.com

In [241]:
df['email'].apply(len)

0    11
1    11
2    14
Name: email, dtype: int64

In [242]:
def upper_case_email(email):
    return email.upper()

In [243]:
df['email'].apply(upper_case_email)

0       JEF@COM.COM
1       JON@COM.COM
2    JEFMEL@COM.COM
Name: email, dtype: object

In [244]:
df['email'] = df['email'].apply(upper_case_email)
df

  first_name last_name           email
0        Jef       Jon     JEF@COM.COM
1        Jon       Car     JON@COM.COM
2        Jef       Mel  JEFMEL@COM.COM

In [245]:
df['email'] = df['email'].apply(lambda dc: dc.lower())
df

  first_name last_name           email
0        Jef       Jon     jef@com.com
1        Jon       Car     jon@com.com
2        Jef       Mel  jefmel@com.com

In [246]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [247]:
df.apply(len)#The amount members values in columns

first_name    3
last_name     3
email         3
dtype: int64

In [249]:
df.apply(lambda x: x.min())

first_name            Jef
last_name             Car
email         jef@com.com
dtype: object

In [251]:
df.applymap(len)

   first_name  last_name  email
0           3          3     11
1           3          3     11
2           3          3     14

In [253]:
df.applymap(str.lower)

  first_name last_name           email
0        jef       jon     jef@com.com
1        jon       car     jon@com.com
2        jef       mel  jefmel@com.com