In [292]:
person = {
    "first": "Jef",
    "last": "Jon",
    "email": "jefjon@com.com"
}

In [293]:
people = {
    "first": ["Jef"],
    "last": ["Jon"],
    "email": ["jefjon@com.com"]
}

In [294]:
people = {
    "first": ["Jef", "Jon", "Car"],
    "last": ["Jon", "Car", "Jef"],
    "email": ["jef@com.com", "jon@com.com", "car@com.com"]
}

In [295]:
people["email"]

['jef@com.com', 'jon@com.com', 'car@com.com']

In [296]:
person["first"]

'Jef'

In [297]:
import pandas as pd

In [298]:
df = pd.DataFrame(people)

In [299]:
df

  first last        email
0   Jef  Jon  jef@com.com
1   Jon  Car  jon@com.com
2   Car  Jef  car@com.com

In [300]:
df['email']

0    jef@com.com
1    jon@com.com
2    car@com.com
Name: email, dtype: object

In [301]:
type(df['email'])

pandas.core.series.Series

In [302]:
df.email

0    jef@com.com
1    jon@com.com
2    car@com.com
Name: email, dtype: object

In [303]:
df.count

<bound method DataFrame.count of   first last        email
0   Jef  Jon  jef@com.com
1   Jon  Car  jon@com.com
2   Car  Jef  car@com.com>

In [304]:
df[['last', 'email']]

  last        email
0  Jon  jef@com.com
1  Car  jon@com.com
2  Jef  car@com.com

In [305]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [306]:
df.iloc[[0]]

  first last        email
0   Jef  Jon  jef@com.com

In [307]:
df.iloc[[0, 1]]

  first last        email
0   Jef  Jon  jef@com.com
1   Jon  Car  jon@com.com

In [308]:
df.loc[[0, 1], 'email']

0    jef@com.com
1    jon@com.com
Name: email, dtype: object

In [309]:
df.loc[[0, 1], ['email', 'last']]

         email last
0  jef@com.com  Jon
1  jon@com.com  Car

In [310]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [311]:
df.set_index('email', inplace=True)

In [312]:
df

            first last
email
jef@com.com   Jef  Jon
jon@com.com   Jon  Car
car@com.com   Car  Jef

In [313]:
df.index

Index(['jef@com.com', 'jon@com.com', 'car@com.com'], dtype='object', name='email')

In [314]:
df.iloc[0]

first    Jef
last     Jon
Name: jef@com.com, dtype: object

In [315]:
df.reset_index(inplace=True)

In [316]:
df

         email first last
0  jef@com.com   Jef  Jon
1  jon@com.com   Jon  Car
2  car@com.com   Car  Jef

In [317]:
filt = (df['last'] == 'Car')

In [318]:
df[filt]

         email first last
1  jon@com.com   Jon  Car

In [319]:
df = pd.DataFrame(people)

In [320]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [321]:
df.columns = ['first_name', 'last_name', 'email']

In [322]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [323]:
df.columns = [up.upper() for up in df.columns]
df

  FIRST_NAME LAST_NAME        EMAIL
0        Jef       Jon  jef@com.com
1        Jon       Car  jon@com.com
2        Car       Jef  car@com.com

In [324]:
df.columns = df.columns.str.replace(' ', '-')
df

  FIRST_NAME LAST_NAME        EMAIL
0        Jef       Jon  jef@com.com
1        Jon       Car  jon@com.com
2        Car       Jef  car@com.com

In [325]:
df.columns = [up.lower() for up in df.columns]
df

  first_name last_name        email
0        Jef       Jon  jef@com.com
1        Jon       Car  jon@com.com
2        Car       Jef  car@com.com

In [326]:
df.rename(columns={'first-name':'firstname', 'last-name':'lastname'})#,inplace=True

  first_name last_name        email
0        Jef       Jon  jef@com.com
1        Jon       Car  jon@com.com
2        Car       Jef  car@com.com

In [327]:
df.loc[2] = ['Jef', 'Car', 'jefcar@com.com']
df

  first_name last_name           email
0        Jef       Jon     jef@com.com
1        Jon       Car     jon@com.com
2        Jef       Car  jefcar@com.com

In [328]:
df.loc[2, ['last_name', 'email']] = ['Mel', 'jefmel@com.com']
df

  first_name last_name           email
0        Jef       Jon     jef@com.com
1        Jon       Car     jon@com.com
2        Jef       Mel  jefmel@com.com

In [329]:
df.loc[2, 'last_name'] = 'Car'
df

  first_name last_name           email
0        Jef       Jon     jef@com.com
1        Jon       Car     jon@com.com
2        Jef       Car  jefmel@com.com

In [330]:
df.at[2, 'last_name'] = 'Mel'
df

  first_name last_name           email
0        Jef       Jon     jef@com.com
1        Jon       Car     jon@com.com
2        Jef       Mel  jefmel@com.com

In [331]:
df['email'].str.lower()

0       jef@com.com
1       jon@com.com
2    jefmel@com.com
Name: email, dtype: object

In [332]:
df['email'] = df['email'].str.lower()
df

  first_name last_name           email
0        Jef       Jon     jef@com.com
1        Jon       Car     jon@com.com
2        Jef       Mel  jefmel@com.com

In [333]:
df['email'].apply(len)

0    11
1    11
2    14
Name: email, dtype: int64

In [334]:
def upper_case_email(email):
    return email.upper()

In [335]:
df['email'].apply(upper_case_email)

0       JEF@COM.COM
1       JON@COM.COM
2    JEFMEL@COM.COM
Name: email, dtype: object

In [336]:
df['email'] = df['email'].apply(upper_case_email)
df

  first_name last_name           email
0        Jef       Jon     JEF@COM.COM
1        Jon       Car     JON@COM.COM
2        Jef       Mel  JEFMEL@COM.COM

In [337]:
df['email'] = df['email'].apply(lambda dc: dc.lower())
df

  first_name last_name           email
0        Jef       Jon     jef@com.com
1        Jon       Car     jon@com.com
2        Jef       Mel  jefmel@com.com

In [338]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [339]:
df.apply(len)#The amount members values in columns

first_name    3
last_name     3
email         3
dtype: int64

In [340]:
df.apply(lambda x: x.min())

first_name            Jef
last_name             Car
email         jef@com.com
dtype: object

In [341]:
df.applymap(len)

   first_name  last_name  email
0           3          3     11
1           3          3     11
2           3          3     14

In [342]:
df.applymap(str.lower)

  first_name last_name           email
0        jef       jon     jef@com.com
1        jon       car     jon@com.com
2        jef       mel  jefmel@com.com

In [343]:
df['fullname'] = df['first_name'] + ' ' + df['last_name']
df

  first_name last_name           email fullname
0        Jef       Jon     jef@com.com  Jef Jon
1        Jon       Car     jon@com.com  Jon Car
2        Jef       Mel  jefmel@com.com  Jef Mel

In [344]:
df.drop(columns=['first_name', 'last_name'], inplace=True)

In [345]:
df['fullname'].str.split(' ', expand=True)

     0    1
0  Jef  Jon
1  Jon  Car
2  Jef  Mel

In [346]:
df[['firstname', 'lastname']] = df['fullname'].str.split(' ', expand=True)

In [347]:
df

            email fullname firstname lastname
0     jef@com.com  Jef Jon       Jef      Jon
1     jon@com.com  Jon Car       Jon      Car
2  jefmel@com.com  Jef Mel       Jef      Mel

In [348]:
df.drop(columns=['fullname'])

            email firstname lastname
0     jef@com.com       Jef      Jon
1     jon@com.com       Jon      Car
2  jefmel@com.com       Jef      Mel

In [349]:
df.append({'firstname':'Ana'}, ignore_index=True)

            email fullname firstname lastname
0     jef@com.com  Jef Jon       Jef      Jon
1     jon@com.com  Jon Car       Jon      Car
2  jefmel@com.com  Jef Mel       Jef      Mel
3             NaN      NaN       Ana      NaN

In [350]:
people = {
    "firstname": ["Jeferson", "Jonatas"],
    "lastname": ["Melo", "Carneiro"],
    "email": ["jeferson@com.com", "jonatas@com.com"]
}
df_2 = pd.DataFrame(people)

In [351]:
df_2

  firstname  lastname             email
0  Jeferson      Melo  jeferson@com.com
1   Jonatas  Carneiro   jonatas@com.com

In [352]:
df.append(df_2)

              email fullname firstname  lastname
0       jef@com.com  Jef Jon       Jef       Jon
1       jon@com.com  Jon Car       Jon       Car
2    jefmel@com.com  Jef Mel       Jef       Mel
0  jeferson@com.com      NaN  Jeferson      Melo
1   jonatas@com.com      NaN   Jonatas  Carneiro

In [353]:
df.append(df_2, ignore_index=True, sort=False)

              email fullname firstname  lastname
0       jef@com.com  Jef Jon       Jef       Jon
1       jon@com.com  Jon Car       Jon       Car
2    jefmel@com.com  Jef Mel       Jef       Mel
3  jeferson@com.com      NaN  Jeferson      Melo
4   jonatas@com.com      NaN   Jonatas  Carneiro

In [355]:
#filter_lastname = df['lastname']=='Car'
#df.drop(index=df[filter_lastname].index)

In [356]:
df.sort_values(by='firstname')

            email fullname firstname lastname
0     jef@com.com  Jef Jon       Jef      Jon
2  jefmel@com.com  Jef Mel       Jef      Mel
1     jon@com.com  Jon Car       Jon      Car

In [360]:
df.sort_values(by='firstname', ascending=False)

            email fullname firstname lastname
1     jon@com.com  Jon Car       Jon      Car
0     jef@com.com  Jef Jon       Jef      Jon
2  jefmel@com.com  Jef Mel       Jef      Mel

In [361]:
df.sort_values(by=['firstname', 'lastname'], ascending=False)

            email fullname firstname lastname
1     jon@com.com  Jon Car       Jon      Car
2  jefmel@com.com  Jef Mel       Jef      Mel
0     jef@com.com  Jef Jon       Jef      Jon

In [368]:
df.sort_values(by=['firstname', 'lastname'], ascending=[False, True], inplace=True)
df

            email fullname firstname lastname
1     jon@com.com  Jon Car       Jon      Car
0     jef@com.com  Jef Jon       Jef      Jon
2  jefmel@com.com  Jef Mel       Jef      Mel

In [370]:
df.sort_index()

            email fullname firstname lastname
0     jef@com.com  Jef Jon       Jef      Jon
1     jon@com.com  Jon Car       Jon      Car
2  jefmel@com.com  Jef Mel       Jef      Mel

In [371]:
df['fullname'].sort_values()

0    Jef Jon
2    Jef Mel
1    Jon Car
Name: fullname, dtype: object